.title{
  font-family: 'Gothic A1', sans-serif;
  font-size: 70px;
  color : #003399;
  margin: 110px 900px 30px 0;
}

.block{
  font-size: 15px;
  padding: 15px;
  margin-right: 400px;
}

.sendButton{
  font-family: 'Gothic A1', sans-serif;
  margin-top: 40px ;
  margin-left: 600px;
} 

Button{
  text-decoration:none;
  background-color: #FFCC00;
  padding : 7px 40px;
  color:white;
}

Button:hover{
  border : 1px solid #FFCC00;
  background-color: white;
  color:#003399;
}

input[type="text"]
{
    background: transparent;
    border: none;
    text-decoration: underline;
    margin: 10px 90px; 
    color:rgb(43, 41, 41); 
}

