@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

.question-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;

    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 200px;
    padding-left: 0px;

}

.reverse{
    justify-content: start;
    flex-direction: row-reverse;

    padding-left: 200px;
    padding-right: 0px;
}

.subdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subdiv button{
    color: white;
}

p{
    font-family: 'Gothic A1', sans-serif;
    font-size: 32pt;
}

.answer-modal{
    font-family: 'Gothic A1', sans-serif;
}

.image{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.nest-button{
    margin-top: 16px;
}

.separate{
    margin-left: 8px;
}